<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Редактирование товара</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link th:href="@{/css/addProduct.css}" type="text/css" rel="stylesheet" />
  </head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-uppercase my-5">Редактирование</h1>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="a_form col-lg-9 col-sm-12 my-5 align-items-center justify-content-center text-center">
<form th:method="POST" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}" th:object="${product}" enctype="multipart/form-data">
  <label for="title">Введите наименование товара: </label>
  <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
  <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  <br>
  <br>
  <label for="description">Введите описание товара: </label>
  <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
  <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
  <br>
  <br>
  <label for="price">Введите цену товара: </label>
  <input type="number" th:field="*{price}" min="1" step="0.00" placeholder="Цена" id="price">
  <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
  <br>
  <br>
  <label for="warehouse">Введите cклад, на котором расположен товар: </label>
  <input type="text" th:field="*{warehouse}" placeholder="Cклад" id="warehouse">
  <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
  <br>
  <br>
  <label for="category">Выберите категорию товара: </label>
  <select name="category" th:field="*{category}" id="category">
    <div th:each="element : ${category}">
      <option th:text="${element.getName()}" th:value="${element.getId()}">
    </div>
  </select>
  <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
  <br>
  <br>
  <label for="seller">Введите данные о продавце: </label>
  <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
  <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
  <br>
  <br>
  <input class="btn btn-primary my-3" type="submit" value="Редактировать">

    </div>
</div>
</div>
</form>
</body>
</html>